body, html {
  height: 100%;
	margin: 0 50px;
}
textarea {
  vertical-align: top
}
.main_div{
}
#script {
	height: 68vh;
	background-color: green;
  overflow: scroll;
}
#enterLine {
  height: 27vh;
  background-color: red;
}
#inputName {
  height: 7vh;
  margin: 1vh;
  width: 100%;
}
#inputDirection {
  height: 16vh;
  margin: 1vh;
  width: 100%;
}
#inputText {
  height: 25vh;
  margin: 1vh;
  width: 100%;
}
#submitLine {
  width: 100%;
  height: 25vh;
  margin: 1vh;
}
#addSection {
  height: 5vh;
}
#addAct {
  text-align: center;
}
#addScene {
  text-align: center;
}
#actbtn, #scenebtn {
  height: 4vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  width: 20vw;
}
.maintextbox{
	padding-left: 4%;
}

nav[data-toggle='toc'] {
  margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}