.nameHolder {
	font-family: courier, monospace;
	font-weight: bold;
	font-size: 12px;
	position: relative;
}

.text {
	font-family: courier, monospace;
	font-size: 12px;
	position: relative;
}
